## 데이터 및 라이브러리 로딩

In [69]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

train = pd.read_csv('movies_train.csv')
test = pd.read_csv('movies_test.csv')

## 데이터탐색

In [70]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [71]:
train.head()

       title   distributor genre  ... num_staff  num_actor box_off_num
0     개들의 전쟁      롯데엔터테인먼트    액션  ...        91          2       23398
1       내부자들        (주)쇼박스   느와르  ...       387          3     7072501
2  은밀하게 위대하게        (주)쇼박스    액션  ...       343          4     6959083
3   나는 공무원이다        (주)NEW   코미디  ...        20          6      217866
4       불량남녀  쇼박스(주)미디어플렉스   코미디  ...       251          2      483387

[5 rows x 12 columns]

In [72]:
test.head()

         title distributor   genre  ... dir_prev_num  num_staff num_actor
0       용서는 없다      시네마서비스     느와르  ...            2        304         3
1  아빠가 여자를 좋아해      (주)쇼박스  멜로/로맨스  ...            4        275         3
2          하모니   CJ 엔터테인먼트     드라마  ...            3        419         7
3          의형제      (주)쇼박스      액션  ...            2        408         2
4        평행 이론   CJ 엔터테인먼트      공포  ...            1        380         1

[5 rows x 11 columns]

## 데이터 전처리

In [73]:
# 결측치가 많은 데이터 제거
train = train.drop(['dir_prev_bfnum'],axis = 1)
test =  test.drop(['dir_prev_bfnum'],axis = 1)

In [74]:
# 감독명 : 너무 다양해서 제거
train = train.drop(['director'],axis = 1)
test = test.drop(['director'],axis = 1)

In [75]:
# 제목 : 의미가 없기 때문에 제거
train = train.drop(['title'],axis= 1)
test = test.drop(['title'],axis= 1)

In [76]:
train.distributor.value_counts()

CJ 엔터테인먼트    54
롯데엔터테인먼트     52
(주)NEW       30
(주)마운틴픽쳐스    29
(주)쇼박스       26
             ..
머스트 씨 무비      1
인터콘미디어        1
영구아트무비        1
(주)아우라픽처스     1
스튜디오 블루       1
Name: distributor, Length: 169, dtype: int64

In [77]:
# 상위 5개의 배급사를 제외하고 '기타'로처리
distributor_list = train.distributor.value_counts()[:5]
def func(distributor):
    if distributor in distributor_list:
        return distributor
    else:
        return '기타'

train['distributor'] = train['distributor'].apply(lambda x : func(x))
test['distributor'] = test['distributor'].apply(lambda x : func(x))

In [78]:
# 개봉일을 바탕으로 년,월 변수 생성
train['년'] = train['release_time'].apply(lambda x: int(x[:4]))
train['월'] = train['release_time'].apply(lambda x: int(x[5:7]))
train =  train.drop(['release_time'],axis = 1)

test['년'] = test['release_time'].apply(lambda x: int(x[:4]))
test['월'] = test['release_time'].apply(lambda x: int(x[5:7]))
test =  test.drop(['release_time'],axis = 1)

In [79]:
# 원핫 인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

## 모델정의 및 학습

In [80]:
train_x = train.drop(['box_off_num'],axis= 1)
train_y = train['box_off_num']

In [81]:
model=RandomForestRegressor(n_estimators=100)
model.fit(train_x,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

# 학습 된 모델로 예측 데이터 생성

In [82]:
pred = model.predict(test)

## 제출파일 생성

In [83]:
submission = pd.read_csv('/content/submission.csv')
submission

               title  box_off_num
0             용서는 없다            0
1        아빠가 여자를 좋아해            0
2                하모니            0
3                의형제            0
4              평행 이론            0
..               ...          ...
238        해에게서 소년에게            0
239           울보 권투부            0
240             어떤살인            0
241        말하지 못한 비밀            0
242  조선안방 스캔들-칠거지악 2            0

[243 rows x 2 columns]

In [84]:
submission['box_off_num'] = pred

In [85]:
submission

               title  box_off_num
0             용서는 없다   2658047.04
1        아빠가 여자를 좋아해   1636605.09
2                하모니   1355714.82
3                의형제   1978594.25
4              평행 이론    798594.43
..               ...          ...
238        해에게서 소년에게    411249.51
239           울보 권투부      3495.13
240             어떤살인    301907.84
241        말하지 못한 비밀     10095.95
242  조선안방 스캔들-칠거지악 2      1166.86

[243 rows x 2 columns]

In [86]:
submission.to_csv('베이스라인.csv',index = False)